body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}


.banner {
    color: #000000;
    padding: 100px 0px 0px 30px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h4 {
    padding: 0px 8px 5px 0px;
}

.banner .search-container {
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 0px;
}

.banner .search-container input[type="text"] {
    outline: 0;
    padding: 5px 0px 5px 0px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 1px;
}

.banner .search-container button {
    background-color: white;
    color: black;
    padding: 6px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.banner .search-container button:hover {
    background-color: rgba(209, 201, 159, 0.6);
}

.banner h1 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 40px 0px 40px 0px;
}

.category h2 {
    font-size: 16px;
    margin-bottom: 0px;
    color: #000000;
}


.card {
    width: 25%;
    height: fit-content;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 100px 2px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    /* overflow:visible; */
}

.card-image {
    height: 50%;
}

.card>.card-image>img {
    width: 100%;
    margin-top: 20px;
    height: 100%;
    display: block;
}

.card-content {
    padding: 20px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px;
    color: #000000;
}

.price {
    font-size: 18px;
    color: #484848;
    margin-bottom: 10px;
}

#quantity {
    width: 35px;
    margin-right: 20px;
    height: 20px;
}

select {
    width: 50px;
    height: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: 0;
    background: #ffffff;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
    border-radius: 3px;
}

#addtocart {
    transition: all 0.3s ease 0s;
    color: rgb(209, 201, 159);
    background-color: rgba(0, 0, 0, 0.8);
    width: 40%;
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    margin: 30px 0 0 0;
    cursor: pointer;
    border: none;
    outline: none;
}

#addtocart:hover {
    background-color: rgb(133, 129, 106);
    color: black;
}