 body {
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
 }

 .profile-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     max-width: 100%;
 }

 .profile-content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 20px 0px 20px 0px;
     margin: 80px 0px 80px 0px;
     width: 50%;
     background-color: rgba(209, 201, 159, 0.6);
     border-radius: 3px;
 }

 .profile-header h1 {
     font-size: 24px;
     margin-bottom: 40px;

 }

 /* .profile-info {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 } */

 .profile-info h1 {
     font-size: 18px;
 }

 .profile-info p {
     font-size: 16px;
     margin-bottom: 5px;
 }

 .input-box {
     border-radius: 3px;
     padding: 10px;
     margin: 5px 0;
     width: 100%;
     border: 1px solid #000000;
     outline: none;
 }

 .password-update {
     margin-bottom: 30px;
 }

 .profile-bottom {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 #button {
     color: rgb(209, 201, 159);
     background-color: rgba(0, 0, 0, 0.8);
     border: none;
     cursor: pointer;
     display: inline-block;
     font-size: 16px;
     padding: 10px 20px;
     margin-bottom: 10px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     transition: all 0.3s ease 0s;
     border-radius: 3px;
 }

 #button:hover {
     background-color: rgb(133, 129, 106);
     color: black;
 }




 /* Responsive styles */

 @media only screen and (max-width: 600px) {
     #content {
         padding: 10px;
     }

     #avatar {
         width: 100px;
         height: 100px;
     }

     #name {
         font-size: 20px;
     }

     #bio {
         font-size: 14px;
     }

     #social-links a {
         font-size: 16px;
     }
 }