body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav img {
    width: 12%;
}

nav {
    position: fixed;
    transition: top 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    min-height: 8vh;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style-type: none;

}

nav li {
    display: inline-block;
    position: relative;
}

nav ul li {
    width: 100px;
    display: inline-block;
    position: relative;
}

nav a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    display: block;
    border-radius: 2px;
    padding: 10px 2px;
    text-align: center;
    width: 95px;
}

nav a:hover {
    background-color: rgba(209, 201, 159, 0.6);
    text-decoration: underline;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 115px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 2px;
}

nav .dropdown-content li {
    display: block;
}

nav .dropdown.active .dropdown-content {
    display: block;
}

nav .leftnav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav signin {
    word-spacing: 2px;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-container input[type="text"] {
    outline: 0;
    padding: 6px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 1px;
}

.search-container button {
    background-color: white;
    color: black;
    padding: 3px;
    border: none;
    border-radius: 2px;
    margin-left: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.search-container button:hover {
    background-color: rgba(209, 201, 159, 0.6);
}

.cart-logo a {
    background-color: white;
    color: black;
    padding: 10px 0px;
    border: none;
    border-radius: 2px;
    margin-left: 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cart-logo a:hover {
    background-color: rgba(209, 201, 159, 0.6);
}

.sign-up-form {
    width: 500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0, 3);
    background: rgba(209, 201, 159, 0.6);
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form h1 {
    color: rgba(0, 0, 0, 0.852);
    margin-bottom: 30px;
}

.input-box {
    border-radius: 1px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    outline: none;
}

.signup-btn {
    transition: all 0.3s ease 0s;
    color: rgb(209, 201, 159);
    background-color: rgba(0, 0, 0, 0.8);

}

.signup-btn:hover {
    background-color: rgb(133, 129, 106);
    color: black;
}

.signup a {
    text-decoration: none;
    color: #565656;
}

.signup a:hover {
    color: black;
    text-decoration: underline;
}

footer {
    background-color: rgba(209, 201, 159, 0.6);
    padding: 20px 0;
    margin-top: 85px;
}

.footertxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #565656;
    max-width: 960px;
    margin: 0 auto;

}

.footertxt p {
    margin: 0;
}

.footertxt ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footertxt li {
    display: inline-block;
    margin-right: 4px;
    padding: 0px 10px;
}

footer a {
    color: #565656;
    text-decoration: none;
}

footer a:hover {
    color: #000000;
}