body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* a {
    color: #333;
    text-decoration: none;
} */

#button {
    background-color: black;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

#button:hover {
    background-color: #2b2b2b;
}

.hero {
    background-image: url("img/hero bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 200px 0;
    text-align: center;
}

.herotxt h2 {
    font-size: 40px;
    margin: 0;
}

.herotxt p {
    font-size: 20px;
    margin: 20px 0;
}

.herotxt {
    display: inline-block;
    background-color: rgba(209, 201, 159, 0.6);
    padding: 10px;
    border-radius: 3px;
}

.new {
    margin: 60px 0;
    display: flex;
}

.newtxt {
    padding: 60px 0px;
    width: 40%;
    text-align: end;
    background-color: rgba(209, 201, 159, 0.6);
}

.newtxt h2 {
    padding: 0px 10px;
}

.new img {
    width: 60%;
}

.season {
    margin: 60px 0;
    display: flex;
}

.seasontxt {
    padding: 60px 0px;
    width: 40%;
    text-align: start;
    background-color: rgba(209, 201, 159, 0.6);
}

.seasontxt h2 {
    padding: 0px 10px;
}

.season img {
    width: 60%;
}

.footwear {
    margin: 60px 0;
    display: flex;
}

.footwear img {
    width: 35%;
}

.footweartxt {
    padding: 60px 0px;
    width: 30%;
    text-align: end;
    background-color: rgba(209, 201, 159, 0.6);
}

.footweartxt h2 {
    padding: 0px 10px;
}

.para {
    padding: 20px 10px;
    font-size: 18px;
}